<mat-toolbar color="primary">
  <span class="me-3">{{ title }}</span>
  <span class="spacer"></span>
  @if (isLoggedIn$ | async) {
    <a mat-button routerLink="/movies" class="ps-3" routerLinkActive="active">Movies</a>
    <button mat-button class="ms-auto" (click)="logout()">Logout</button>
  } @else {
    <a mat-button class="ms-auto" routerLink="/login" routerLinkActive="active">Login</a>
  }
</mat-toolbar>

<div class="loader-container" *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>

<router-outlet />
